<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>這是一個由EJS製作出的頁面</h1>
    <%#<h1> 這是的頁面 </h1> %> 

    <% for(i = 0 ; i < 10 ; i++){ %>
        <h2><%= i %></h2>
    <% } %>
    <% for(i = 0 ; i < 10 ; i++){ %>
        <h2><%- i %></h2>
    <% } %>

    <% for(i = 0 ; i < 10 ; i++){ %>
        <%-myString %>
    <% } %>
    <% for(i = 0 ; i < 10 ; i++){ %>
        <%=myString %>
    <% } %>

    <%- include("partials/footer") %>
</body>
</html>